api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqualped/pediatricclinicalevaluationInreviewperiod/Pediatric_ClinicalEvaluationInReviewPeriod.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data-set" type="Data-setType"/>
  <xs:complexType name="Data-setType">
    <xs:sequence>
      <xs:element type="Pediatric_ClinicalEvaluationInReviewPeriod_RecordType" name="Pediatric_ClinicalEvaluationInReviewPeriod_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pediatric_ClinicalEvaluationInReviewPeriod_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element type="xs:string" name="Visit1"/>
      <xs:element type="xs:string" name="Visit2"/>
      <xs:element type="xs:string" name="Visit3"/>
      <xs:element name="Visit4">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value=""/>
            <xs:enumeration value="23/05/2017"/>
            <xs:enumeration value="16/05/2017"/>
            <xs:enumeration value="04/04/2017"/>
            <xs:enumeration value="25/04/2017"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDt"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriodID"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>