api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqual/artadherencerecord/art_adherence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data-set" type="data-setType"/>
  <xs:complexType name="ART_Adherence_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element name="ARTAdherenceAssessmentPerformedDuringLast3Months">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="No"/>
            <xs:enumeration value="Yes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="LastDateOfAssessment"/>
      <xs:element type="xs:string" name="HighestCD4SinceARTinitiation"/>
      <xs:element type="xs:string" name="DateOfHighestCD4Test"/>
      <xs:element type="xs:string" name="FacilityID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data-setType">
    <xs:sequence>
      <xs:element type="ART_Adherence_RecordType" name="ART_Adherence_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>