api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqual/viralloadtesting/viralloadtesting.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data-set" type="data-setType"/>
  <xs:complexType name="ViralLoadTesting_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element type="xs:string" name="HasPatientReceivedVLTesting"/>
      <xs:element type="xs:string" name="VLTestDate"/>
      <xs:element type="xs:string" name="Result_Copies_Per_ml"/>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDt"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriodID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data-setType">
    <xs:sequence>
      <xs:element type="ViralLoadTesting_RecordType" name="ViralLoadTesting_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>