omod/src/main/resources/NDR 1.2.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!-- PURPOSE: NDR Schema is the basis for how information is exchanged from 
	Electronic Medical Records (EMRs) to the National Data Repository (NDR) OVERVIEW: 
	The NDR Schema is designed to be patient centric and support multiple conditions 
	for a Patient. AUTHOR: InductiveHealth Informatics, Point of Contact: Stephen 
	Macauley (support@inductivehealth.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="unqualified">
	<xs:element name="Container">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="MessageHeader" type="MessageHeaderType"
					minOccurs="1" maxOccurs="1" />
				<xs:choice>
					<xs:element name="IndividualReport" type="IndividualReportType"
						minOccurs="1" maxOccurs="1" />
				</xs:choice>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="MessageHeaderType">
		<xs:sequence>
			<xs:element name="MessageStatusCode" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Message Status
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="INITIAL" />
						<xs:enumeration value="UPDATED" />
						<xs:enumeration value="REDACTED" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageCreationDateTime" type="xs:dateTime"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Message Creation Date
						and Time
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageSchemaVersion" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Version of the NDR
							schema used to build this message
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:decimal">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="99999" />
						<xs:fractionDigits value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MessageUniqueID" type="StringType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique identifier
						for this message. Used to communicate errors and status with
						Sending Organization.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageSendingOrganization" type="FacilityType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Organization that
						is sending the message and that is responsible for the facility.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FacilityType">
		<xs:sequence>
			<xs:element name="FacilityName" type="StringType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Facility Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityID" type="StringType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Facility ID that is
						used to uniquely identify the facility.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityTypeCode" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The type of facility.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="IP" />
						<xs:enumeration value="FAC" />
						<xs:enumeration value="LGA" />
						<xs:enumeration value="SGA" />
						<xs:enumeration value="FGA" />
						<xs:enumeration value="OTH" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IndividualReportType">
		<xs:sequence>
			<xs:element name="PatientDemographics" type="PatientDemographicsType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="Condition" type="ConditionType"
				minOccurs="1" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionType">
		<xs:sequence>
			<xs:element name="ConditionCode" type="CodeType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="ProgramArea" type="ProgramAreaType"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="PatientAddress" type="AddressType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="CommonQuestions" type="CommonQuestionsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ConditionSpecificQuestions" type="ConditionSpecificQuestionsType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Encounters" type="EncountersType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="LaboratoryReport" type="LaboratoryReportType"
				minOccurs="0" maxOccurs="unbounded" />
			<xs:element name="Regimen" type="RegimenType" minOccurs="0"
				maxOccurs="unbounded" />
			<xs:element name="Immunization" type="ImmunizationType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConditionSpecificQuestionsType">
		<xs:choice>
			<xs:element name="HIVQuestions" type="HIVQuestionsType"
				minOccurs="0" maxOccurs="1" />
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="HIVQuestionsType">
		<xs:sequence>
			<xs:element name="CareEntryPoint" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Care Entry Point for patient into HIV care
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
						<xs:enumeration value="8" />
						<xs:enumeration value="9" />
						<xs:enumeration value="10" />
						<xs:enumeration value="11" />
						<xs:enumeration value="12" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstConfirmedHIVTestDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of First Confirmed
						HIV test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstHIVTestMode" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the type of first confirmed HIV test as [HIV-Ab]
						or [PCR]
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="HIVAb" />
						<xs:enumeration value="HIVPCR" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WhereFirstHIVTest" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Description of where
						the first HIV test occurred
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PriorArt" type="CodeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Type of prior ART
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MedicallyEligibleDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of Patient became
						medically eligible for ART
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonMedicallyEligible" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Why Eligible for ART
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="InitialAdherenceCounselingCompletedDate"
				type="xs:date" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date Initial Adherence
						Counseling Completed
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferredInDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date initially
						transferred in to ARV care
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferredInFrom" type="FacilityType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Facility where patient
						transferred from
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferredInFromPatId" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient's
							Identifier from the previous facility
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FirstARTRegimen" type="CodedSimpleType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code and description
						that represents
						the first ART regimen the patient was on
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARTStartDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date ART Started
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WHOClinicalStageARTStart" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the WHO Clinical Stage of the patient when ART
						started
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WeightAtARTStart" type="xs:int"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Weight in
						(kg) at ART start
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChildHeightAtARTStart" type="xs:int"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Height in
						(cm) if child at ART start
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionalStatusStartART" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Functional Status of the patient when ART
						started
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="W" />
						<xs:enumeration value="A" />
						<xs:enumeration value="B" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CD4AtStartOfART" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						CD4 absolute of the
						patient at the start of ART
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientTransferredOut" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						True or false, did the
						Patient transfer out
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferredOutStatus" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						ART status when patient transferred out
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="A" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TransferredOutDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date patient
						transferred out from this facility
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FacilityReferredTo" type="FacilityType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Facility where patient
						was referred to
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientHasDied" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Did the Patient Die
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAtDeath" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						ART status when patient transferred out
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="A" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DeathDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date patient died
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceOfDeathInformation" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Source of death
						information
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CauseOfDeathHIVRelated" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Was cause of death HIV
						related
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="Y" />
						<xs:enumeration value="N" />
						<xs:enumeration value="U" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DrugAllergies" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Patient's drug
						allergies
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnrolledInHIVCareDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date initially enrolled
						in HIV care
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialTBStatus" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Initial TB Status of the patient
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgramAreaType">
		<xs:sequence>
			<xs:element name="ProgramAreaCode" type="CodeType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Program Area Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PatientDemographicsType">
		<xs:sequence>
			<xs:element name="PatientIdentifier" minOccurs="1"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient Identifier
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TreatmentFacility" type="FacilityType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The facility where the
						patient is being treated
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPatientIdentifiers" type="IdentifiersType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other Patient
						Identifiers
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientDateOfBirth" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's DOB
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientSexCode" minOccurs="0" maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient's Sex Code
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="F" />
						<xs:enumeration value="M" />
						<xs:enumeration value="A" />
						<xs:enumeration value="N" />
						<xs:enumeration value="O" />
						<xs:enumeration value="U" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientDeceasedIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Deceased
						Indicator
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientDeceasedDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Deceased
						Date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientPrimaryLanguageCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Primary
						Language Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientEducationLevelCode" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient's
							Educational Level
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientOccupationCode" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient's
							Occupation Level
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="UNE" />
						<xs:enumeration value="EMP" />
						<xs:enumeration value="RET" />
						<xs:enumeration value="STU" />
						<xs:enumeration value="NA" />
						<xs:enumeration value="UNK" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientMaritalStatusCode" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The Patient's Marital
							Status Level
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="N" />
						<xs:enumeration value="C" />
						<xs:enumeration value="D" />
						<xs:enumeration value="P" />
						<xs:enumeration value="I" />
						<xs:enumeration value="E" />
						<xs:enumeration value="G" />
						<xs:enumeration value="M" />
						<xs:enumeration value="O" />
						<xs:enumeration value="R" />
						<xs:enumeration value="A" />
						<xs:enumeration value="S" />
						<xs:enumeration value="U" />
						<xs:enumeration value="B" />
						<xs:enumeration value="T" />
						<xs:enumeration value="W" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="StateOfNigeriaOriginCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's State of
						Origin Code (assuming Nigeria)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientNotes" type="NoteType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TelephoneType">
		<xs:sequence>
			<xs:element name="Number" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Telephone number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Extension" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Telephone number
						extension
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmailAddress" type="StringType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Email Address
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TelephoneTypeCode" type="CodeType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Telephone Type Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NameType">
		<xs:sequence>
			<xs:element name="NameTypeCode" type="CodeType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Name Type Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="First" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The First Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Middle" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Middle Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Last" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Last Name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifiersType">
		<xs:sequence>
			<xs:element name="Identifier" type="IdentifierType"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IdentifierType">
		<xs:sequence>
			<xs:element name="IDNumber" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The ID Number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IDTypeCode" type="CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The ID Type Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="AddressTypeCode" type="CodeType"
				minOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Address Type Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WardVillage" type="StringType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Ward or Village
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Town" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Town
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LGACode" type="CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The code representing
						the LGA
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StateCode" type="CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The code representing
						the state
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCode" type="CodeType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The code representing
						the country
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="StringType" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Postal Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherAddressInformation" type="StringType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other Address
						Information
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NoteType">
		<xs:sequence>
			<xs:element name="Note" maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2000" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonQuestionsType">
		<xs:sequence>
			<xs:element name="HospitalNumber" type="StringType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Hospital Number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnosisFacility" type="FacilityType"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DateOfFirstReport" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DateOfLastReport" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DiagnosisDate" type="xs:date" minOccurs="0"
				maxOccurs="1" />
			<xs:element name="PatientDieFromThisIllness" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PatientPregnancyStatusCode" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="P" />
						<xs:enumeration value="PMTCT" />
						<xs:enumeration value="NP" />
						<xs:enumeration value="NK" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EstimatedDeliveryDate" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PatientAge" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Age
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RegimenType">
		<xs:sequence>
			<xs:element name="VisitID" type="StringType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Visit ID Number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of Visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonForRegimenSwitchSubs" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Reasons for regimen
						substitutions/switiches
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrescribedRegimen" type="CodedSimpleType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Resulted Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrescribedRegimenTypeCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Prescribed Regimen Type
						Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrescribedRegimenLineCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Prescribed Regimen Line
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrescribedRegimenDuration" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Prescribed Regimen
						Duration
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrescribedRegimenDispensedDate" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DateRegimenStarted" type="xs:date"
				minOccurs="1" maxOccurs="1" />
			<xs:element name="DateRegimenStartedDD" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateRegimenStartedMM" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateRegimenStartedYYYY" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateRegimenEnded" type="xs:date"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="DateRegimenEndedDD" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateRegimenEndedMM" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="2" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DateRegimenEndedYYYY" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PrescribedRegimenInitialIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="PrescribedRegimenCurrentIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="TypeOfPreviousExposureCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Type of Previous ARV
						Exposure
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PoorAdherenceIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="ReasonForPoorAdherence" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Reason for Poor
						Adherence
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReasonRegimenEndedCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Reason Regimen Ended
						Code
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubstitutionIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="SwitchIndicator" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LaboratoryReportType">
		<xs:sequence>
			<xs:element name="VisitID" type="StringType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique Visit
						Identifier that this Order / Resulted Test(s)
						combination is linked
						to
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of Visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LaboratoryTestIdentifier" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique identifier
						that represents the Order / Resulted Test(s)
						combination
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollectionDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date Specimen was
						collected
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BaselineRepeatCode" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Indicates whether the
							Laboratory Order represents a baseline or repeat
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="CodeType">
						<xs:enumeration value="B" />
						<xs:enumeration value="R" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ARTStatusCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Patient's ART Status at
						time of Laboratory Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LaboratoryOrderAndResult" type="LaboratoryOrderAndResult"
				minOccurs="1" maxOccurs="unbounded" />
			<xs:element name="Clinician" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures the clinician
						who ordered the Laboratory Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ReportedBy" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures Reported By
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckedBy" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures Checked By
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="LaboratoryOrderAndResult">
		<xs:sequence>
			<xs:element name="LaboratoryTestTypeCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Type of Laboratory Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderedTestDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date Order was made
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LaboratoryOrderedTest" type="CodedSimpleType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Ordered Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LaboratoryResultedTest" type="CodedSimpleType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Resulted Test
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LaboratoryResult" type="AnswerType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures the type of
						result (Numeric (including Units), Coded, Text, Date)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultedTestDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date Results are made
						available
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherLaboratoryInformation" type="StringType"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures additional
						(free form) laboratory information
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ContactType">
		<xs:sequence>
			<xs:element name="ContactRelationshipType" type="CodeType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Relationship Type
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactName" type="NameType" minOccurs="1"
				maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ImmunizationType">
		<xs:sequence>
			<xs:element name="VisitID" type="StringType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique Visit
						Identifier that this Immunization is linked to
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of Visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImmunizationIdentifier" type="StringType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique identifier
						that represents the immunization
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImmunizationDate" type="xs:date">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Vaccination
						administration date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LotNumber" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Vaccine lot number
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpirationDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Vaccine expiration date
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerCode" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Vaccine manufacturer
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImmunizationType" type="CodedSimpleType"
				minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The type of vaccine
						administered
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SiteCode" type="CodeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Body site vaccine was
						administered
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RouteCode" type="CodeType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						How vaccine entered
						body
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Dose" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Amount of vaccine
						administered
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SelfReported" type="xs:boolean"
				minOccurs="0" maxOccurs="1" />
			<xs:element name="Clinician" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures the clinician
						who ordered the Immunization
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PerformedBy" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures Reported By
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CheckedBy" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Captures Checked By
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EncountersType">
		<xs:sequence>
			<xs:element name="HIVEncounter" type="HIVEncounterType"
				minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="HIVEncounterType">
		<xs:sequence>
			<xs:element name="VisitID" type="StringType" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The unique Visit
						Identifier
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitDate" type="xs:date" minOccurs="1"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of Visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DurationOnArt" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Duration (in Months)on
						ART this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Weight" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Weight in
						(kg) this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChildHeight" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The Patient's Height in
						(cm) if child this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BloodPressure" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Blood Pressure (mmHg)
						Adults Only this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EDDandPMTCTLink" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the EDD and PMTCT Link of the patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="P" />
						<xs:enumeration value="PMTCT" />
						<xs:enumeration value="NP" />
						<xs:enumeration value="NK" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientFamilyPlanningCode" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the use of Family Planning by patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="FP" />
						<xs:enumeration value="NOFP" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="PatientFamilyPlanningMethodCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Family Planning Method used by patient this
						visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FunctionalStatus" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Functional Status of the patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="W" />
						<xs:enumeration value="A" />
						<xs:enumeration value="B" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WHOClinicalStage" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the WHO Clinical Stage of the patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<!--This list represents the four WHO clinical stages -->
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TBStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the TB Status of the patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="OtherOIOtherProblems" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Other OIs/ Other
						Problems
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotedSideEffects" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Noted Side Effects
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARVDrugRegimen" type="CodedSimpleType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the ARV Regimen of the patient this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARVDrugAdherence" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Adherence to ARV Regimen of the patient this
						visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="G" />
						<xs:enumeration value="F" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WhyPoorFairARVDrugAdherence" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						why poor/fair ARV Regimen adherance
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
						<xs:enumeration value="8" />
						<xs:enumeration value="9" />
						<xs:enumeration value="10" />
						<xs:enumeration value="11" />
						<xs:enumeration value="12" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CotrimoxazoleDose" type="CodedSimpleType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Cotrimoxazole Dose of the patient this visit
						inclusive of the
						Drug itself
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CotrimoxazoleAdherence" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Adherence to Cotrimoxazole of the patient
						this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="G" />
						<xs:enumeration value="F" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WhyPoorFairCotrimoxazoleDrugAdherence"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						why poor/fair Cotrimoxazole Regimen adherance
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
						<xs:enumeration value="8" />
						<xs:enumeration value="9" />
						<xs:enumeration value="10" />
						<xs:enumeration value="11" />
						<xs:enumeration value="12" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="INHDose" type="CodedSimpleType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the INH Dose of the patient this visit inclusive
						of the Drug itself
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="INHAdherence" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Adherence to INH of the patient this visit
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="G" />
						<xs:enumeration value="F" />
						<xs:enumeration value="P" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="WhyPoorFairINHDrugAdherence" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						why poor/fair INH Regimen adherance
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="CodeType">
						<xs:enumeration value="1" />
						<xs:enumeration value="2" />
						<xs:enumeration value="3" />
						<xs:enumeration value="4" />
						<xs:enumeration value="5" />
						<xs:enumeration value="6" />
						<xs:enumeration value="7" />
						<xs:enumeration value="8" />
						<xs:enumeration value="9" />
						<xs:enumeration value="10" />
						<xs:enumeration value="11" />
						<xs:enumeration value="12" />
						<xs:enumeration value="13" />
						<xs:enumeration value="14" />
						<xs:enumeration value="15" />
						<xs:enumeration value="16" />
						<xs:enumeration value="17" />
						<xs:enumeration value="18" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CD4" type="xs:int" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						CD4 absolute value test
						result of the patient this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CD4TestDate" type="xs:date" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of CD4 test result
						of the patient this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextAppointmentDate" type="xs:date"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Date of next
						appointment scheduled for the patient this visit
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MedicationType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="Drug" type="CodedSimpleType" minOccurs="1"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Code that represents
							the Drug
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DrugOther" type="StringType" minOccurs="0"
					maxOccurs="1">
					<xs:annotation>
						<xs:documentation xml:lang="en">
							Free text that
							represents the other Drug specified
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
			<xs:element name="FrequencyCode" type="CodeType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code that represents
						the Frequency of the Drug
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						The length of time the
						drug should be taken
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QuantityPrescribed" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The of drugs
							prescribed
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QuantityDispensed" minOccurs="0"
				maxOccurs="1">
				<xs:simpleType>
					<xs:annotation>
						<xs:documentation xml:lang="en">
							The number of drugs
							dispensed
						</xs:documentation>
					</xs:annotation>
					<xs:restriction base="xs:int">
						<xs:minInclusive value="0" />
						<xs:maxInclusive value="50" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="SingleDose" type="StringType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						For Pediatric, the
						single dose
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalDailyDose" type="StringType"
				minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						For Pediatric, the
						total daily dose
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AnswerType">
		<xs:sequence>
			<xs:choice>
				<xs:element name="AnswerCode" type="CodedType" />
				<xs:element name="AnswerDate" type="xs:date" />
				<xs:element name="AnswerDateTime" type="xs:dateTime" />
				<xs:element name="AnswerNumeric" type="NumericType" />
				<xs:element name="AnswerText">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="0" />
							<xs:maxLength value="2000" />
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodedType">
		<xs:sequence>
			<xs:element name="Code" type="CodeType" />
			<xs:element name="CodeDescTxt" type="CodeDescTxtType" />
			<xs:element name="CodeSystemCode" type="CodeSystemCodeType" />
			<xs:element name="Text" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="255" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CodedSimpleType">
		<xs:sequence>
			<xs:element name="Code" type="CodeType" minOccurs="1" />
			<xs:element name="CodeDescTxt" type="CodeDescTxtType"
				minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="50" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeSystemCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CodeDescTxtType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="NumericType">
		<xs:sequence>
			<xs:element name="ComparatorCode" type="ComparatorCodeType"
				minOccurs="0" />
			<xs:element name="Value1">
				<xs:simpleType>
					<xs:restriction base="xs:float" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="SeperatorCode" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:minLength value="0" />
						<xs:maxLength value="10" />
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Value2" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:float" />
				</xs:simpleType>
			</xs:element>
			<xs:element name="Unit" type="CodedType" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ComparatorCodeType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="10" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="StringType">
		<xs:restriction base="xs:string">
			<xs:minLength value="0" />
			<xs:maxLength value="255" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
