omod/src/main/resources/PediatricEducation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data-set" type="Data-setType"/>
  <xs:complexType name="Pediatric_Education_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element type="xs:string" name="MotherReceivedInfantFeedingEducation"/>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDt"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriodID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data-setType">
    <xs:sequence>
      <xs:element type="Pediatric_Education_RecordType" name="Pediatric_Education_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>