api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqualped/pediatricartadherencerecord/Pediatric_ART_Adherence.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data-set" type="Data-setType"/>
  <xs:complexType name="Data-setType">
    <xs:sequence>
      <xs:element type="Pediatric_ART_Adherence_RecordType" name="Pediatric_ART_Adherence_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pediatric_ART_Adherence_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element name="ARTAdherenceAssessmentPerformedDuringLast3Months">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="NO"/>
            <xs:enumeration value="YES"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="LastDateOfAssessment"/>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDt"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriodID"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>