api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqual/baselineparameters/baselineparameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data-set" type="data-setType"/>
  <xs:complexType name="BaselineParameters_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="CD4_Count"/>
      <xs:element type="xs:string" name="CD4_Count_Date"/>
      <xs:element type="xs:string" name="Weight"/>
      <xs:element type="xs:string" name="Weight_Date"/>
      <xs:element name="WHO_Clinical_Stage">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="2"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="WHO_Clinical_State_Date"/>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDT"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriod"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="data-setType">
    <xs:sequence>
      <xs:element type="BaselineParameters_RecordType" name="BaselineParameters_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>