api/src/main/java/org/openmrs/module/nigeriaemr/model/nigeriaqualped/pediatricartregimensincestartingtreatment/Pediatric_ARTRegimenSinceStartingTreatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Data-set" type="Data-setType"/>
  <xs:complexType name="Pediatric_ARTRegimenSinceStartingTreatment_RecordType">
    <xs:sequence>
      <xs:element type="xs:string" name="PatientID"/>
      <xs:element name="PatientOnARTAnytimeDuringReviewPeriod">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Yes"/>
            <xs:enumeration value="No"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="C1stRegminen">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="5"/>
            <xs:enumeration value="0"/>
            <xs:enumeration value="-1"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="C1stRegimenStartDate"/>
      <xs:element type="xs:string" name="C1stRegimenChangeDate"/>
      <xs:element name="C2ndRegimen">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="7"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="-1"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="C2ndRegimenStartDate"/>
      <xs:element type="xs:string" name="C2ndRegimenChangeDate"/>
      <xs:element name="C3rdRegimen">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="0"/>
            <xs:enumeration value="1"/>
            <xs:enumeration value="3"/>
            <xs:enumeration value="6"/>
            <xs:enumeration value="5"/>
            <xs:enumeration value="8"/>
            <xs:enumeration value="12"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="xs:string" name="C3rdRegimenStartDate"/>
      <xs:element type="xs:string" name="C3rdRegimenChangeDate"/>
      <xs:element type="xs:string" name="OtherRegimenSpecify"/>
      <xs:element type="xs:string" name="FacilityID"/>
      <xs:element type="xs:string" name="UploaderId"/>
      <xs:element type="xs:string" name="UploadDt"/>
      <xs:element type="xs:string" name="webUploadFlag"/>
      <xs:element type="xs:string" name="ReviewPeriodID"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Data-setType">
    <xs:sequence>
      <xs:element type="Pediatric_ARTRegimenSinceStartingTreatment_RecordType" name="Pediatric_ARTRegimenSinceStartingTreatment_Record" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>